.section {
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;  
}

.bun_section {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  overflow-y: scroll;
  padding: 0 8px 0 0;
}

.content_list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}